Icon.Cross
  &::before
    width stroke
    height 1em
    transform diafix center  translatey(0.15em) rotate(45deg)
      
  &::after
    width stroke
    height 1em
    transform diafix center  translatey(0.15em) rotate(-45deg)