.reload
  font-size 30px
  display block
  position fixed
  font-family sans-serif
  font-weight bold
  background black
  border-radius 10px 0 0 0
  padding 5px
  cursor pointer
  color white
  bottom 0
  right 0
  border none
  outline none

#Body
  font-size 40px
  text-align center

.Icon
  postition relative
  color black
  text-align left

  &::before
    color black

  &::after
    color #0a2a59 


.Preview
  border 1px dotted #ccc
  font-size 70vw
  display table
  margin 0 auto